<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Formulário de funcionário</title>

	<link rel="stylesheet" href="../style.css">
</head>
<body>
<h1 class="title-h1">Formulário de funcionário</h1>

<form action="../src/form-funcionario.php" method="post" class="form">
	<fieldset class="fieldset">
		<legend class="legend">Dados pessoais</legend>

		<label for="cpf" class="label">CPF: </label>
		<input type="text" name="cpf" id="cpf" class="textfield" required>

		<label for="nome" class="label">Nome: </label>
		<input type="text" name="nome" id="nome" class="textfield" required>

		<label for="idade" class="label">Idade: </label>
		<input type="number" name="idade" id="idade" class="textfield" required>
	</fieldset>

	<fieldset class="fieldset">
		<legend class="legend">Dados profissionais</legend>

		<label for="cargo" class="label">Cargo: </label>
		<input type="text" name="cargo" id="cargo" class="textfield" required>

		<label for="salario" class="label">Salário R$ </label>
		<input type="number" step=".01" name="salario" id="salario" class="textfield" required>
	</fieldset>

	<input type="submit" value="Enviar" class="btn">
</form>
</body>
</html>
