<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Formulário de paciente</title>

	<link rel="stylesheet" href="../style.css">
</head>
<body>
<h1 class="title-h1">Formulário de paciente</h1>

<form action="../src/form-paciente.php" method="post" class="form">
	<fieldset class="fieldset">
		<legend>Dados pessoais</legend>

		<label for="cpf" class="label">CPF: </label>
		<input type="text" name="cpf" id="cpf" class="textfield" required>

		<label for="nome" class="label">Nome: </label>
		<input type="text" name="nome" id="nome" class="textfield" required>

		<label for="idade" class="label">Idade: </label>
		<input type="number" name="idade" id="idade" class="textfield" required>
	</fieldset>

	<fieldset class="fieldset">
		<legend>Sintomas</legend>

		<label for="sintomas" class="label">Descreva os sintomas: </label>
		<textarea name="sintomas" id="sintomas" cols="30" rows="10" class="textfield"></textarea>
	</fieldset>

	<input type="submit" value="Enviar" class="btn">
</form>
</body>
</html>
