<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Formulário de paciente</title>
</head>
<body>
<h1>Formulário de paciente</h1>

<form action="" method="post">
	<fieldset>
		<legend>Dados pessoais</legend>

		<label for="cpf">CPF: </label>
		<input type="text" name="cpf" id="cpf" required>

		<label for="nome">Nome: </label>
		<input type="text" name="nome" id="nome" required>

		<label for="idade">Idade: </label>
		<input type="number" name="idade" id="idade" required>
	</fieldset>

	<fieldset>
		<legend>Sintomas</legend>

		<label for="sintomas">Descreva os sintomas: </label>
		<textarea name="sintomas" id="sintomas" cols="30" rows="10"></textarea>
	</fieldset>

	<input type="submit" value="Enviar">
</form>
</body>
</html>
