html {
	font-family: monospace;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 5rem auto 3.5rem;
}

.hidden {
	display: none;
}

.title-h1 {
	text-align: center;
	margin: 5rem auto 3.5rem;
}

.u-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	gap: 1rem;
}

.d-list,
.center-div {
	width: fit-content;
	margin: 2rem auto 0;
}

.dl-term {
	font-size: 26px;
	font-weight: 700;
	margin: 2.5rem 0 1.5rem;
}

.dl-definition {
	font-size: 20px;
}

.a,
.a-large {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: inherit;
	background: none;
}

.a {
	max-width: 148px;
	max-height: 43px;
}

.btn {
	/*width: 300px;*/
	width: 150px;
	height: 45px;
	border: 1px solid transparent;
	border-radius: 5px;
	text-align: center;
	/*padding: 10px 0 2px;*/
	cursor: pointer;
	font-family: inherit;
	font-size: 16px;
	font-weight: 300;
	transition: 0.35s ease-in-out;
}

.btn-primary {
	color: #FFF;
	background-color: #3582FF;
	border-color: #3582FF;
}

.btn-primary:hover,
.btn-primary:active {
	background-color: #FFF;
	color: #515B3A;
}

.btn-secondary {
	color: #FFF;
	background-color: #515B3A;
	border-color: #515B3A;
}

.btn-secondary:hover,
.btn-secondary:active {
	background-color: #FFF;
	color: #515B3A;
}

.btn-cancel {
	color: #FFF;
	background-color: #F4332C;
	border-color: #F4332C;
}

.btn-cancel:hover,
.btn-cancel:active {
	background-color: #FFF;
	color: #F4332C;
}

.btn-large {
	width: 300px;
	height: 75px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.fieldset {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.readonly {
	background-color: #AFAFAF;
}

.form-buttons {
	display: flex;
	gap: 20px;
}

table {
	background-color: #DADADA;
	margin: 0 auto;
}

th,
td {
	text-align: left;
	padding: 2px 5px;
	width: 270px;
}

th {
	background-color: #DADADA;
}

tr:nth-child(odd) {
	background-color: #E8E8E8;
}

tr:nth-child(even) {
	background-color: #EFEFEF;
}

.td-options-list {
	list-style: none;
	display: flex;
	gap: 10px;
}

.list-btn {
	max-width: 100px;
	max-height: 35px;
}

.list-a {
	max-width: 98px;
	max-height: 33px;
}
